#nav_div{
    height:auto;
    width:100%;
}

#nav_div p{
    font-size: 40px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: 5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#nav_div span{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 40px;
    color: rgb(254, 181, 181);
}

#add_new_item{
    height: 5rem;
    width: 90%;
}

#plus{
    font-weight: bolder;
    font-size: 25px;
    margin-bottom: 1px;
}

#d1{
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:rgb(254, 181, 181);
    margin-top: 3rem;
    margin-left: 1rem;
    margin-right: 1rem;
    float: right;
    vertical-align: top;
}

#d1:hover{
    cursor: pointer;
}


#d2{
    height: 3rem;
    width: auto;
    margin-top: 3rem;
    margin-right: 3rem;
    float: right;
    vertical-align: top;
}

#d2 p{
    font-size: 25px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 0.5rem;
}

#i1{
    height: 100%;;
    width: 100%;
}

#list_body{
    box-shadow: 0px 0px 10px 0px #42424271 inset;
    height:40rem;
    width:100%;
    background-color: rgb(244, 243, 243);
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

#container{
    height: auto;
    background-color: rgb(244, 243, 243);
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

#noTasks{
    font-size: 40px;
    padding-top: 10rem;
    font-family: sans-serif;
    font-weight: bold;
    color: rgb(195, 195, 199);
}

.card_div{
    height: 22rem;
	width: 20rem;
	padding: 10px;
	display: inline-block;
	border-radius: 20px;
	margin: 2rem;
	box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
	background-color: white;
}

.card_title{
    border-bottom: 1px solid black;
}

.card_title p{
    font-size: 25px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(254, 181, 181);
    padding-left: 1rem;
    padding-top: 0.5rem;
}

.card_title:hover{
    cursor: pointer;
}

.item {
    display: flex;
    align-items: center;
}

.item span{
    margin-left: 0.5rem;
    margin-top: 1rem;
    font-size: 18px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.strike {
    text-decoration: line-through;
    color: rgb(180, 180, 180);
}

.input_container{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.25);
    position: fixed;
    top: 0;
    left: 0;
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

#task_container, #item_container{
    height: 13rem;
    width: 25rem;
    display:flex;
    flex-direction: column;
    background-color: white;
    border-radius: 15px;
}


#add_task_title, #add_item_title{
    border-bottom: 1px solid rgb(195, 195, 199);
    
}

#add_task_title p{
    font-size: 20px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-left: 1rem;
    padding-top: 1rem;
}

#add_item_title p{
    font-size: 20px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-left: 1rem;
    padding-top: 1rem;
}

#closeTaskInput, #closeItemInput{
    float:right;
    margin-top: -3rem;
    margin-right: 1rem;
}


#closeTaskInput:hover{
    cursor: pointer;
}

#closeItemInput:hover{
    cursor: pointer;
}

#add_task_body, #add_item_body{
    height: auto;
    width: 22.5rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 1.5rem;
}

#add_task_footer, #add_item_footer{
    width: 22.5rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
}


#add_task_button, #add_item_button{
    height: 2.5rem;
    width: 8rem;
    border-radius: 5px;
    border: none;
    background-color: rgb(254, 181, 181);
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
}

#add_task_button:hover{
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}

#add_item_button:hover{
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}

#add_task_button p{
    font-size: 16px;
    margin-bottom: 0px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#add_item_button p{
    font-size: 16px;
    margin-bottom: 0px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}




.p1{
    font-size: 20px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(254, 181, 181);
    margin: 1rem;
}

.p2{
    display: inline;
    margin-bottom: 2rem;
    margin-left: 0.4rem;
    font-size: 18px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

input[type="checkbox"]{
    height: 1.3rem;
    width: 1.3rem;
    margin-left: 0.8rem;
    margin-top: 1rem;
}

input[type="text"]{
    height: 2.5rem;
    width: 100%;
    background-color: #F7F7F7;
    border-radius: 5px;
    border: none;
}